* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @font-face{
        font-family: "SuisseIntl-Bold";
        font-weight:normal;
        font-style:normal;
    }
    background-color: #000;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-links {
    display: flex;
    gap: 4vw;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3vw;
    transition: opacity 0.3s ease;
}

.nav-links a:hover {
    opacity: 0.8;
    scale: 1.1;
}

.cta-button {
    background: white;
    border: none;
    color: #000;
    border-radius: 2vw;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.6rem 1rem;
    transition: transform 0.3s ease;
}

.cta-button:hover {
    background-color: black;
    color: #fff;
    scale:1.2;
    font-weight: 600;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items:center;
}

.main-title {
    font-size: 15vw;
    font-weight: bold;
    letter-spacing: -0.02em;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 1rem;
    }
    
    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
    }
}